    <div class="headerlinks"> 
    	<%= link_to "About Us", "/about" %> | 
    	<%= link_to "Our Mission", "/mission" %> | 
    	<%= link_to "Achievements", "/achievement" %> | 
    	<%= link_to "Our Vicinity", "/vicinity" %> | 
    	<%= link_to "Join Us", "/signup" %> | 
    	<%= link_to "Sign in", "/login" %> | 
    	<%= link_to "Donate", "/donate" %>  | 
    	<%= link_to "FAQS", "/faq" %>  | 
    	<%= link_to "Contact Us", "/contact" %>  | 
    	<%= link_to "Site Map", "/site_map" %>  | 
    	
  </div>
