<div class="olca_features">
  <ul>
    <li>
      <h2><a href="/vicinity" title="Our Vicinity">Our Vicinity</a></h2>
      <a href="/vicinity"><%= image_tag 'our_vicinity.jpg' %></a></li>
    <li>
      <h2><a href="/mission" title="Our Mission">Our Mission</a></h2>
      <a href="/mission"><%= image_tag 'our_mission.jpg' %></a></li>
    <li>
      <h2><a href="/achievement" title="Achievement">Achievement</a></h2>
      <a href="/achievement"><%= image_tag 'achievement.jpg' %></a></li>
    <li>
      <h2><a href="/help_line" title="Alliance">Help Line</a></h2>
      <div class="our_profile_box">
        <ul>
          <li><a href="/hospital" title="Hospitals">Hospitals</a></li>
          <li><a href="/college" title="Colleges">Colleges</a></li>
          <li><a href="/school" title="Schools">Schools</a></li>
          <li><a href="/fire_brigade" title="Fire Brigade">Fire Brigade</a></li>
          <li><a href="/ambulance" title="Ambulance">Ambulance</a></li>
          <li><a href="/bmc" title="BMC">BMC</a></li>
        </ul>
      </div></li>
    <li>
      <h2>Our Profile</h2>
      <div class="our_profile_box">
        <ul>
          <li><a href="/mangroves" title="Mangroves">Mangroves</a></li>
          <li><a href="/open_space" title="Open Spaces">Open Spaces</a></li>
          <li><a href="/playground" title="Playgrounds">Playgrounds</a></li>
          <li><a href="/encroachment" title="Encroachment">Encroachment</a></li>
          <li><a href="/protect_green_zone" title="Protect Green Zones">Protect Green Zones</a></li>
          <li><a href="/safe_neighbourhood" title="Safe Neighbourhood">Safe Neighbourhood</a></li>
        </ul>
      </div>
    </li>
    <li>
      <h2><a href="/media" title="Media">Media</a></h2>
      <a href="/media"><%= image_tag 'media.jpg' %></a></li>
    <li>
      <h2><a href="/event" title="Events">Events</a></h2>
      <a href="/event"><%= image_tag 'events.jpg' %></a></li>
    <li>
      <h2><a href="/donate" title="Donate" >Donate</a></h2>
      <a href="/donate"><%= image_tag 'donate.jpg' %></a></li>
  </ul>
  <div class="clear"></div>
</div>
