	<%= render 'home/header' %>

<body>
<div id="main_wrapper">
  <div class="olca_header">
    <div class="headerbg"></div>
    <div class="headerlogo"><a href="http://www.google.com" title="Oshiwara Lokhandwala Citizens Association"><%= image_tag 'olca_mission_logo.jpg' %></a></div>
	<%= render 'home/header_links' %>
  <div class="olca_dynamic">
	<%= render 'home/olca_helpline' %>
  </div>
	<%= render 'home/footer' %>
  <div class="clear"></div>
</div>
</body>
</html>