<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Oshiwara Lokhandwala Citizens Association</title>
	    <%= stylesheet_link_tag    "application", media: "all" %>
	    <%= javascript_include_tag "application" %>
	    <%= csrf_meta_tag %>
</head>
<body>
	<div id="main_wrapper">
	  <div class="olca_header">
	    <div class="headerbg"></div>
	    <div class="headerlogo"><a href="http://www.google.com" title="Oshiwara Lokhandwala Citizens Association"><%= image_tag 'olca_mission_logo.jpg' %></a></div>
	    <div class="headerbanner"><%= image_tag 'olca_mission_banner.jpg' %></div>
		<%= render 'home/header_links' %>
	  <div class="olca_dynamic">
		<%= render 'home/olca_home_top' %>
		<%= render 'home/olca_home_mid' %>
		<%= render 'home/olca_helpline' %>
	  </div>
		<%= render 'home/footer' %>
	  <div class="clear"></div>
	</div>
</body>
</html>